body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000;
}

header > h1,
main p,
main ul li {
    color: white;
}

main ul {
    margin: 0;
    display: inline-block;
}

main ul > li {
    padding: 4px;
    text-align: left;
}

canvas#game {
    background-color: #000;
}